/* =============================
   LAYOUT GERAL
============================= */
.layout {
  display: flex;
  width: 100%;
  height: 100vh;
  background: #f5f5f5;
  transition: all 0.3s ease;
  position: relative;
}

/* Sidebar aberta */
.open {
  --sidebar-width: 0;
}

/* Sidebar fechada */
.closed {
  --sidebar-width: 80px;
}

/* =============================
   CONTEÚDO
============================= */
.contentWrapper {
  flex: 1;
  display: flex;
  flex-direction: column;
  margin-left: var(--sidebar-width);
  transition: margin-left 0.3s ease;
  /* overflow: hidden; */
  background: inherit;
  position: relative;
  z-index: 1;
  height: 100vh;
}

.main {
  flex: 1;
  overflow-y: auto;
  min-height: 0;
  background: inherit;
  width: 100%;
}

.contentWrapper,
.main {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* =============================
   MOBILE
============================= */
@media (max-width: 768px) {
  .layout {
    /* flex-direction: column; */
    width: 100%;
    height: 100vh;
  }

  /* Conteúdo principal respeita a largura da sidebar */
  .contentWrapper {
    margin-left: -240px; 
    width: 100vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    transition: margin-left 0.3s ease, width 0.3s ease;
    overflow: hidden;
  }

  .main {
    flex: 1;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    min-height: 0;
    background: inherit;
  }
}